Repository bellshade/PHP, pull requests merged in 2021-11, with the labels that each got.

#113 feat: update bot
  .mergify.yml
Labels: enhancement

#105 Menambahkan sub-materi mengambil data pada materi database dasar
  basics/12_database_dasar_prosedural/4_mysqli_fetch.php
  basics/12_database_dasar_prosedural/README.md
Labels: basic, sub-materi, markdown files, request docs team untuk review, php files, request tim php untuk review, ready-to-merge, sudah direview !

#121 fix: set min approval 2 orang
  .mergify.yml
Labels: bug, ready-to-merge

#122 docs: memperbaiki README, menambahkan daftar isi/silabus di sertiap folder
  BASIC.md
  README.md
  algorithms/README.md
  basics/README.md
  utilities/README.md
Labels: documentation, markdown files, request docs team untuk review, ready-to-merge

#127 add: Menambah Materi Session dan Cookie
  basics/11_cookie_dan_session/1_set_session.php
  basics/11_cookie_dan_session/2_get_session.php
  basics/11_cookie_dan_session/3_update_session.php
  basics/11_cookie_dan_session/4_delete_session.php
  basics/11_cookie_dan_session/5_set_cookie.php
  basics/11_cookie_dan_session/6_update_cookie.php
  basics/11_cookie_dan_session/7_delete_cookie.php
  basics/11_cookie_dan_session/README.md
Labels: add, markdown files, request docs team untuk review, php files, request tim php untuk review

#130 add: menambah materi addslashes
  assets/content/basics/5_string_manipulation/kutip''.png
  assets/content/basics/5_string_manipulation/kutip2''.png
  assets/content/basics/5_string_manipulation/slash''.png
  basics/6_manipulasi_string/5_add_slashes.php
  basics/6_manipulasi_string/README.md
Labels: add, markdown files, request docs team untuk review, php files, ready-to-merge, request tim php untuk review, sudah direview !

#112 docs: Dokumentasi Materi Basic, Sub Materi Fungsi Dasar
  assets/content/basics/8_fungsi_dasar/comment.png
  assets/content/cekhere.svg
  basics/8_fungsi_dasar/README.md
Labels: documentation, markdown files, request docs team untuk review

#106 Menambahkan materi basic Object Oriented Programing
  assets/content/basics/14_oop_dasar/1-prosedural.png
  assets/content/basics/14_oop_dasar/2-oop.png
  basics/14_oop_dasar/1_prosedural_dan_oop.php
  basics/14_oop_dasar/README.md
  basics/5_perulangan/README.md
Labels: markdown files, request docs team untuk review, php files, request PHP team untuk review, ready-to-merge, request tim php untuk review, sudah direview !
