Repository bellshade/PHP, pull requests merged in 2022-02, with the labels that each got.

#141 add: Menambahkan Materi Property dan Method
  basics/14_oop_dasar/3_property_and_method.php
  basics/14_oop_dasar/README.md
  env
Labels: add, markdown files, request docs team untuk review, php files, ready-to-merge, request tim php untuk review, sudah direview !

#150 add: Menambahkan Membaca File dan Folder
  assets/content/basics/10_file_handling/file_handling.txt
  basics/10_file_handling/1_membaca_file_dan_folder.php
  basics/10_file_handling/README.md
Labels: add, markdown files, request docs team untuk review, php files, ready-to-merge, request tim php untuk review

#151 Create file folder
  basics/10_file_handling/2_create_file_folder.php
  basics/10_file_handling/README.md
Labels: markdown files, request docs team untuk review, php files, ready-to-merge, request tim php untuk review

#152 fix: Memperbaiki Materi Manipulasi String
  basics/6_manipulasi_string/5_escape_dan_formatting.php
  basics/6_manipulasi_string/6_manipulasi_string.php
  basics/6_manipulasi_string/6_strip_slashes.php
Labels: bug, php files, request tim php untuk review

#153 fix: Memperbaiki dan Menambahkan Materi Manipulasi String
  basics/6_manipulasi_string/6_manipulasi_string.php
  basics/6_manipulasi_string/README.md
Labels: bug, markdown files, request docs team untuk review, php files, request tim php untuk review

#154 add: Menambahkan Materi Write File
  basics/10_file_handling/3_write_file.php
  basics/10_file_handling/README.md
Labels: add, markdown files, request docs team untuk review, php files, ready-to-merge, request tim php untuk review, sudah direview !

#155 Menambahkan Basic Materi: Constructor destructor
  basics/14_oop_dasar/4_constructor_destructor.php
  basics/14_oop_dasar/4_constructor_destructor2.php
  basics/14_oop_dasar/README.md
Labels: markdown files, request docs team untuk review, php files, request tim php untuk review, Materi

#156 add: Menambahkan Materi Form Handling datetime
  basics/9_form_handling/4_datetime.php
  basics/9_form_handling/README.md
Labels: add, markdown files, request docs team untuk review, php files, request tim php untuk review

#157 add: Menambahkan Materi Form Handling checkbox
  basics/9_form_handling/5_checkbox.php
  basics/9_form_handling/README.md
Labels: add, markdown files, request docs team untuk review, php files, request tim php untuk review

#158 Property method static
  basics/14_oop_dasar/5_property_dan_method_static.php
  basics/14_oop_dasar/README.md
Labels: markdown files, request docs team untuk review, php files, request tim php untuk review

#159 add: Menambahkan Materi Form Handling radio
  basics/9_form_handling/6_radio.php
  basics/9_form_handling/README.md
Labels: add, markdown files, request docs team untuk review, php files, request tim php untuk review
