Repository bellshade/PHP, pull requests merged in 2022-09, with the labels that each got.

#172 add: utilities/SImple_UnitTest/
  utilities/SImple_UnitTest/README.md
  utilities/SImple_UnitTest/SimpleTest.php
  utilities/SImple_UnitTest/WordCount.php
  utilities/SImple_UnitTest/composer.json
  utilities/SImple_UnitTest/composer.lock
Labels: add, markdown files, request docs team untuk review, php files, request tim php untuk review

#173 docs: mengubah nama file "env" menjadi ".env.example"
  README.md
Labels: documentation, markdown files, request docs team untuk review

#174 fix: memperbaiki penamaan dari "reCHAPTCHA" ke "reCAPTCHA"
  utilities/reCAPTCHA/README.md
  utilities/reCAPTCHA/google_reCAPTCHA/README.md
  utilities/reCAPTCHA/google_reCAPTCHA/captcha.php
  utilities/reCAPTCHA/google_reCAPTCHA/images/0.png
  utilities/reCAPTCHA/google_reCAPTCHA/images/1.png
  utilities/reCAPTCHA/google_reCAPTCHA/images/2.png
  utilities/reCAPTCHA/google_reCAPTCHA/images/3.png
  utilities/reCAPTCHA/google_reCAPTCHA/images/4.png
Labels: bug, markdown files, request docs team untuk review, php files, request tim php untuk review

#175 fix: menghilangkan .env.example dari navigasi webnya
  index.php
Labels: bug, php files, request tim php untuk review
