Repository bellshade/PHP, pull requests merged in 2022-01, with the labels that each got.

#136 add: Algoritma Selection Sort
  algorithms/Sorting/SelectionSort/README.md
  algorithms/Sorting/SelectionSort/SelectionSort.php
  assets/content/algorithms/Sorting/SelectionSort/1.png
  assets/content/algorithms/Sorting/SelectionSort/2.png
  assets/content/algorithms/Sorting/SelectionSort/3.png
  assets/content/algorithms/Sorting/SelectionSort/4.png
  assets/content/algorithms/Sorting/SelectionSort/5.png
  assets/content/algorithms/Sorting/SelectionSort/6.png
  assets/content/algorithms/Sorting/SelectionSort/7.png
  assets/content/algorithms/Sorting/SelectionSort/8.png
  assets/content/algorithms/Sorting/SelectionSort/9.png
  assets/content/algorithms/Sorting/SelectionSort/selection-sort-flowchart.png
  tests/Sorting/SelectionSortTest.php
Labels: algorithm, add, markdown files, request docs team untuk review, php files, request tim php untuk review

#138 New bellshade php
  .prettierignore
  assets/css/global.css
  assets/css/markdown-style.css
  assets/js/markdown.js
  assets/webfonts/Poppins-Regular.ttf
  assets/webfonts/Poppins-Regular.woff2
  basics/12_database_dasar_prosedural/README.md
  basics/1_hello_world/README.md
  basics/2_variable_datatype/README.md
  basics/3_operator/README.md
  basics/4_conditional_statements/README.md
  basics/5_perulangan/README.md
  basics/6_manipulasi_string/README.md
  basics/7_array_mendalam/README.md
  basics/8_fungsi_dasar/README.md
  basics/9_form_handling/README.md
  index.php
Labels: markdown files, request docs team untuk review, php files, request tim php untuk review

#139 docs: simplifikasi materi class dan object
  basics/14_oop_dasar/README.md
Labels: documentation, markdown files, request docs team untuk review
