Repository bellshade/PHP, pull requests merged in 2022-10, with the labels that each got.

#177 add: penjelasan operator ternary
  basics/4_conditional_statements/3_operator_ternary.php
  basics/4_conditional_statements/4_ternary_assignment.php
  basics/4_conditional_statements/5_ternary_shorthand.php
  basics/4_conditional_statements/README.md
Labels: HACKTOBERFEST-ACCEPTED, add, markdown files, request docs team untuk review, php files, ready-to-merge, request tim php untuk review

#179 docs: memperbaiki typo dari "mereiview" ke "mereview"
  .github/pull_request_template.md
Labels: documentation, HACKTOBERFEST-ACCEPTED, markdown files, request docs team untuk review, ready-to-merge

#178 Memperbaiki beberapa kesalahan anchor link di CONTRIBUTING.md
  CONTRIBUTING.md
Labels: markdown files, request docs team untuk review

#180 add: Menambahkan Materi Inheritance
  basics/15_oop_lanjutan/1_inheritance_Hewan.php
  basics/15_oop_lanjutan/1_inheritance_Kucing.php
  basics/15_oop_lanjutan/README.md
Labels: HACKTOBERFEST-ACCEPTED, add, markdown files, request docs team untuk review, php files, request tim php untuk review

#181 add: Menambahkan Materi Object Type
  basics/15_oop_lanjutan/2_object_type.php
  basics/15_oop_lanjutan/README.md
Labels: HACKTOBERFEST-ACCEPTED, add, markdown files, request docs team untuk review, php files, request tim php untuk review

#182 add: Menambahkan Materi Access Modifier
  assets/content/basics/15_oop_lanjutan/3_private.gif
  assets/content/basics/15_oop_lanjutan/3_protected.gif
  basics/15_oop_lanjutan/1_inheritance_Hewan.php
  basics/15_oop_lanjutan/1_inheritance_Kucing.php
  basics/15_oop_lanjutan/3_access_modifier.php
  basics/15_oop_lanjutan/README.md
Labels: add, markdown files, request docs team untuk review, php files, request tim php untuk review

#187 add: Menambahkan Materi Overriding and Final
  basics/15_oop_lanjutan/1_inheritance_Hewan.php
  basics/15_oop_lanjutan/4_overriding_and_final.php
  basics/15_oop_lanjutan/README.md
Labels: add, markdown files, request docs team untuk review, php files, request tim php untuk review

#186 add: menambahkan algoritma baru dan memperbaiki algoritma yang sudah ada
  utilities/Login_Dan_Logout/README.md
  utilities/Login_Dan_Logout/login_dan_logout/README.md
  utilities/Login_Dan_Logout/login_dan_logout/login_cek.php
  utilities/Login_Dan_Logout/login_dan_logout/login_form_index.php
  utilities/Login_Dan_Logout/login_dan_logout/logout.php
  utilities/Login_static/README.md
Labels: add, markdown files, request docs team untuk review, php files, request tim php untuk review

#188 add: utilities/simple_curl/
  utilities/simple_curl/README.md
  utilities/simple_curl/curl.php
  utilities/simple_curl/prayogaea.php
Labels: add, markdown files, request docs team untuk review, php files, request tim php untuk review

#190 docs: utilities/README.md
  utilities/README.md
Labels: documentation, markdown files, request docs team untuk review

#189 docs: memperbaiki penulisan README
  README.md
Labels: documentation, markdown files, request docs team untuk review
